<div class="jumbotron">
    <h1>Chris Nebinger Geometric Layouts</h1>
    <p class="lead">Honestly, I ran out of time and didn't create a fully functional website.  The unit tests should work, tho.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>....</h2>
        <p></p>

    </div>
    <div class="col-md-4">
        <h2>....</h2>
        <p></p>
    </div>
</div>
